body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: purple;
}
a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
section{
    height: 100%;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-btn{
    background:linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
}
.header{
    background-image:url(../Images/header-bg.png);
    background-repeat: no-repeat;
}
.header{
    display: flex;
}
.biography{
    display: flex;
    background-image: url(../Images/biography-bg.png);
    background-repeat: no-repeat;
}
.latest-img{
    display: flex;
}
.latest-img img{
    width: 30%;
    padding: 10px;
    margin-left: 25px;
}
.latest-work{
    text-align: center;
    background-image: url(../Images/latest-work-bg.png);
    background-repeat: no-repeat;
    height: 500px;
}
.footer{
    text-align: center;
    padding: 10px;
    height: 500px;
}
.email{
    padding: 10px 20px;
    background:linear-gradient(45deg, lightSalmon, tomato);
    border-radius: 8px;
    width: 490px;
    margin-left: 30%;
    color: white;
}
footer{
    text-align: center;
}